@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --primary-color: #76abae;
  --primary-color-accent: #80bcbf;
  --secondary-color: #eeeeee;
  --secondary-color-accent: #dccece78;
  --background-color: #222831;
  --transition: 0.3s ease-in-out;

  --60px: 3.75rem;
  --44px: 2.75rem;
  --35px: 2.1875rem;
  --24px: 1.5rem;
  --20px: 1.25rem;
  --16px: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: var(--secondary-color-accent);
}

h1 {
  font-size: var(--60px);
  color: var(--primary-color);
}

h2 {
  font-size: var(--44px);
  color: var(--primary-color);
}

h3 {
  font-size: var(--35px);
  color: var(--primary-color);
  margin: 0;
}
h4 {
  font-size: var(--24px);
  color: var(--primary-color);
  margin: 0;
}

p {
  font-size: var(--20px);
  color: var(--secondary-color);
}
em {
  color: var(--primary-color);
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
}
header {
  width: 100%;
}
section {
  margin: auto;
  max-width: 60em;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  max-width: 100vw;
}
.nav-list {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  list-style-type: none;
}
/* Hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-text {
  align-self: center;
}
.hero h1,
h3 {
  margin: 0;
}
.hero h3 {
  color: var(--secondary-color);
}
.hero-img {
  max-width: 500px;
  justify-content: center;
  align-content: center;
}

.hero-img img {
  max-width: 40rem;
}
/*  */
.content-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 30px 0;
}
.content-title h2 {
  margin: 0 auto;
}
.underline {
  width: 350px;
  min-height: 2px;
  background-color: var(--secondary-color);
  margin: 0 auto;
}
/*  */
.about,
.contact,
.services,
.why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.service-item h4 {
  margin: 0 auto;
}

.sub-list-item {
  color: var(--secondary-color);
}
.about p,
.why p {
  text-align: center;
  max-width: 40em;
}
/*  */
.projects {
  display: flex;
  flex-direction: column;
}
.project-img {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
}
.project-img img {
  max-width: 15em;
  transition: transform 0.3s ease-in-out;
}
.project-img img:hover {
  transform: scale(1.1);
}
.skill-set {
  display: flex;
  max-width: 50em;
  margin: 0 auto;
  flex-direction: column;
}
.skill-set p {
  align-self: center;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 30em;
  gap: 30px;
  justify-content: center;
}
.skill-list img {
  max-width: 4em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  p,
  body {
    font-size: 1rem;
  }
  section {
    margin: 5em 0.1em;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-img {
    display: none;
  }
  .project-img img {
    max-width: 10em;
  }
  .underline {
    width: 250px;
  }
}
